.swiper{
  width:100% !important;
  height: fit-content;
  background-color: beige;
  margin-top: 10px;
}
.swiper {
    width: 300px;
    height: 300px;
  }
  .swiper-slide{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
  }
  .swiper-slide img{
    
  }
  .category{
    display: flex;
   justify-content: center;
    align-items: center;
 
  }